<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:spring="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <spring:bean name="BeforeJsonTransformer" class="com.ggd543.esb.transformer.BeforeJsonTransformer">
    </spring:bean>
    <spring:bean name="AfterJsonTransformer" class="com.ggd543.esb.transformer.AfterJsonTransformer">
    </spring:bean>

</beans>