#{extends 'main.html' /}
#{set title:'Service Registry Form' /}

<form action="@{Application.registryForm()}" method="post">
    <fieldset>
        <div>
            <label for="name" >服务名</label>
            <input type="text" name="name" id="name" value="${name}"/>
        </div>
        <div>
            <label for="url">目标URL</label>
            <input type="text" name="url" id="url" value="${url}">
        </div>
        <div>
            <input type="submit" value="注册"/>
        </div>
    </fieldset>

</form>
